BODY { FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif}
P { FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; line-height: normal;}
TD { FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px;   }

LI {COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; line-height: 16px}
fieldset {border: 1 px groove #cccccc;}
legend {padding: 0 5px; font: 12px sans-serif, Arial;  font-weight: bold; }

OL {list-style: lower-roman}
OL OL {list-style: decimal}
OL OL OL {list-style: lower-alpha}

.fcctopnavlinks {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #000099
}
.navlinks {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica, sans-serif; line-height: 11px
	}
.navlinkssub {
	MARGIN-TOP: 0px; FONT-SIZE: 10pt; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 9px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.navlinksbody {
	FONT-SIZE: 9pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.navlinkheading {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}

.blueFCCnav {BACKGROUND-COLOR: #000099; COLOR: #ffffff; FONT-FAMILY:  Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; weight: normal}
.bottomFCCnav {FONT-FAMILY:  Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px}
.breadcrumbs {COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-WEIGHT: normal}
.leftnav {FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 12px;  margin-bottom: 3px; margin-top: 6px; margin-left: 5px;; color: #000099}
.leftnav-sub {FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 12px; margin-left: 15px; margin-bottom: 1px; margin-top: 3px;; color: #000099}
.boxnav {FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: x-small; margin-bottom: .33em;  margin-left: 5px; margin-top: .33em;}
.boxnav-small {FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 10px; color: #333333;}
.boxhead {FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 15px; FONT-WEIGHT: bold; color: #000099; margin-left: 4px; margin-top: 3px;}
.boxhead-uls {FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 17px; FONT-WEIGHT: bold; color: #000099; margin-left: 12px; margin-top: 3px; letter-spacing: -0.05em;}
.boxhead-pad {FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 13.5px; FONT-WEIGHT: bold; color: #000099; margin: 3px;}
.boxhead-white A  {FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-WEIGHT: bold; color: #ffffff;}
.boxhead-white {FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 14.8px; FONT-WEIGHT: bold; color: #ffffff;  margin-left: 5px;}
p.boxnav {line-height: 3.55em;}
.warning-msg {FONT-SIZE: 16px; color: #FF0000; font-family: Verdana, Arial, Helvetica, sans-serif; text-align : center; FONT-WEIGHT: bold;}
.small-notification-msg {FONT-SIZE: 11px; color: #FF0000; font-family: Verdana, Arial, Helvetica, sans-serif; text-align : center; FONT-WEIGHT: bold;}
.requiredIndicator {FONT-SIZE: 11px; color: #FF0000; font-family: Verdana, Arial, Helvetica, sans-serif; text-align : center; FONT-WEIGHT: bold;}
.header-title {FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 14px;  FONT-WEIGHT: bold; color: #000099; margin-left: 5px;}

.releaseHeader {COLOR: #666666; FONT-SIZE: 12px; line-height: 16px}
.releaseTitle {FONT-WEIGHT: bold; FONT-SIZE: 12px; line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif}
.releaseFiles {COLOR: #666666; FONT-SIZE: 12px; line-height: 16px}
.releaseDescription {FONT-SIZE: 12px; line-height: 16px}


.subsection {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.issueboxtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000099; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.issueboxtitleshifted {
	MARGIN-TOP: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN-LEFT: 3px; COLOR: #000099; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.issueboxlite {
	FONT-SIZE: 10pt; COLOR: #808080; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.issueboxtext {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.headlinedate {
	FONT-SIZE: 9pt; COLOR: #808080; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.small-blue-content {COLOR: #ffffff; FONT-SIZE: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;FONT-WEIGHT: bold;}
.small {FONT-SIZE: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 16px}
.updated {Font-size: 9.5px; font-style: italic; font-family: arial; text-align: right;}
.content {FONT-SIZE: 12px; font-family: Verdana, Arial, Helvetica, sans-serif;}
.ddlb-content {FONT-SIZE: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; width: 100%; max-width: 100%;}
.italic-content {FONT-SIZE: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; font-style: italic;}
.bold-content {FONT-SIZE: 12px; font-family: Verdana, Arial, Helvetica, sans-serif;FONT-WEIGHT: bold;}
.red-content {FONT-SIZE: 12px; font-family: Verdana, Arial, Helvetica, sans-serif;FONT-WEIGHT: bold; COLOR: #FF0000;}
.small-content {FONT-SIZE: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;}
.small-bold-content {FONT-SIZE: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;FONT-WEIGHT: bold;}
.small-blue-content {COLOR: #0000ff; FONT-SIZE: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;FONT-WEIGHT: bold;}
.small-red-content {FONT-SIZE: 11px; color: #FF0000; font-family: Verdana, Arial, Helvetica, sans-serif; text-align : left; FONT-WEIGHT: bold;}
.hidden-content {width: 1px; height: 1px; color: #FFFFFF; border-style: none;}


INPUT {FONT-FAMILY: "Courier New", Courier, mono; FONT-SIZE: 12px}
SELECT {FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px}

.xsmall {FONT-SIZE: 12px; line-height: normal}
.xsmallGray {COLOR: #666666; FONT-SIZE: 12px}
.goldBack {  font-weight: normal; background-color: #FFCC66}
.lightGoldBack {  background-color: FFEDC9; font-weight: normal; font-size: small}
.c { font-weight: normal; background-color: FFEDC9; font-size: small}
.h1 {FONT-SIZE: 22px; FONT-WEIGHT: bold}
h1 {FONT-SIZE: 22px; FONT-WEIGHT: bold}
.h2 {FONT-SIZE: 18px; FONT-WEIGHT: bold}
h2 {FONT-SIZE: 18px;}
.h3 {FONT-SIZE: 16px; FONT-WEIGHT: bold; font-family: Verdana, Arial, Helvetica, sans-serif;}
h3 {FONT-SIZE: 16px; FONT-WEIGHT: bold;}
h4 {FONT-SIZE: 14px; FONT-WEIGHT: bold;}
h5 {FONT-SIZE: 12px; FONT-WEIGHT: bold;}
h3.nospace {FONT-SIZE: 16px; FONT-WEIGHT: bold; margin-bottom: 0px;}

.bdsmall {BACKGROUND-COLOR: #000000; COLOR: #ffffff; FONT-SIZE: small}
.bdxsmall {BACKGROUND-COLOR: #000000; COLOR: #ffffff; FONT-SIZE: 12px}
.bmsmall {BACKGROUND-COLOR: #cac6df; FONT-SIZE: small}
.bmxsmall {BACKGROUND-COLOR: #b1c4f3; FONT-SIZE: 12px}
.blsmall {BACKGROUND-COLOR: #f7f5ff; FONT-SIZE: small}
.blxsmall {BACKGROUND-COLOR: #f7f5ff; FONT-SIZE: 12px}
.button-content {FONT-SIZE: 10px; font-family: Verdana, Arial, Helvetica, sans-serif;FONT-WEIGHT: bold;}

.white {COLOR: #ffffff; background-color: #FFFFFF}
.contact { font-size: 12px; FONT-FAMILY:  Arial, Verdana, Helvetica, sans-serif;; line-height: 16px}

.bdbfwb {FONT-WEIGHT: bold; COLOR: white; background-color: #000099}
.bdbfwbTH {FONT-WEIGHT: bold; FONT-SIZE: small; COLOR: white; BACKGROUND-COLOR: #006}
.blbfdb {BACKGROUND-COLOR: #FAFAFA}
.bmbfdb {BACKGROUND-COLOR: #ffedc9}
.bmbfdbX {COLOR: #006; BACKGROUND-COLOR:#cac6df}
.blbfdbX {COLOR: #006; BACKGROUND-COLOR: #f7f5ff}


.lightGrayBack { background-color: #DDDDDD; font-weight: normal; font-size: small }
.leftnav2 { FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 12px; margin-bottom: 1px; margin-top: 5px; margin-left: 5px; }
.faintGrayBack { background-color: #EEEEEE; font-weight: normal; font-size: small }
.xsmallBlack { FONT-SIZE: 12px; color: #000000}
.blue { color: #000099; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 18px}
.lightBlue { BACKGROUND-COLOR: #f7f5ff; color: #000099; font-family: Arial, Helvetica, sans-serif; font-size: x-small }
.tabletitle {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; line-height: 18px; font-weight: bold}
.tablebrdrblue { background-color: #6699FF}
.tablecellblue { BACKGROUND-COLOR: #f7f5ff}
.tablehdrfontblue {
	FONT-SIZE: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000099;
	font-weight: bold;
	text-decoration : underline;
}
.rowprimary {
	FONT-SIZE: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color : White;
}
.rowalternate {
	FONT-SIZE: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color : #E4E4E4;
}
.rowyellow {
	FONT-SIZE: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color : #FFFF00;
}
.redBold { color: Red; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 18px; font-weight: bold}
.blueBold { color: #000099; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 18px; font-weight: bold}

.wtbrightnav { color:white; FONT-SIZE: 15px; FONT-WEIGHT: bold; font-family: Arial, Helvetica, sans-serif;  padding-left: 24px; background-repeat:no-repeat; background-image: url(/wtb/styles/style-a/images/wtb_rightnav.gif);}
.wtbrightnav A { color:white; text-decoration: none;  padding-left: 24px;}
.pagedate { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-STYLE: italic; }

.butClass  {border: 1px solid;border-color: #D6D3CE; }
.tdClass {padding-left: 3px; padding-top:3px; }

.vis1 { visibility:visible }
.vis2 { visibility:hidden }

td.menuNormal
{FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica, sans-serif; color: #000099; line-height: 11px;}

td.menuHover
{FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica, sans-serif; color: #000099; line-height: 11px;background-color: lightblue;}

div.menuNormal
{display: none;}

div.menuHover
{background-color: white;
display: inline;
position: absolute;}


a.menuitem:link
{text-decoration: none;
color: Helvetica;
background-color: none;
display: block;
font-size: 11px;}

a.menuitem:visited
{text-decoration: none;
color: Helvetica;
background-color: none;
display: block;
font-size:11px;}

a.menuitem:hover
{text-decoration: underline;
color: Helvetica;
background-color: lightblue;
display: block;
font-size: 11px;}

a.menuitem:active
{text-decoration: none;
color: Helvetica;
background-color: none;
display: block;
font-size: 11px;}

.dataTable {
     background-color: white;
     border: 1px solid #000066;
     font-size :     8pt;
     margin:     5px;
     /* width:100%;  */ 
}

.dataTable th {
     border-right: 1px solid #c8c8ff;
     padding-left: 2px;
     padding-right:12px;
     font-family: arial, helvetica, sans-serif;
     font-weight: bold;
     color: white;
     background-color: #000066;
     margin-right: 10px;
     white-space:normal;
     font-size:   8pt;

}

.dataTable  td {
     font-family: verdana, arial, helvetica, sans-serif;
     padding-left: 2px;
     font-size:   8pt;

}

.dataTable tr.total td {
     white-space: nowrap;
     vertical-align: top;
     font-weight: bold;
     border-top: 1px solid black;
     padding-bottom: 10px;
}

.dataTable tr.total td.customer {
     visibility: hidden;
}

.dataTable td.hidden {
     display: none;
}

.dataTable th.hidden {
     display: none;
}

.dataTable th.r {
     text-align: right;
     padding-right: 10px;
}

.dataTable th.c {
     text-align: center;
}

.dataTable td.r {
     text-align: right;
     padding-right: 10px;
}

.dataTable td.c {
     text-align: center;
}

.dataTable  tr.odd {
     background-color: whitesmoke;
}

.dataTable tr.even {
     background-color: #d6cfe6;
}

.dataTable th a   ,.dataTable th a:visited {
     text-align: left;
     color: white;
}

.dataTable th a:hover {
     color: #ffcc00;
     background-color: transparent;
}

.dataTable .order1 {
     background-position: right;
     background-image: url(../images/arrow_up.gif);
     background-repeat: no-repeat;
}

.dataTable .order2 {
     background-position: right;
     background-image: url(../images/arrow_down.gif);
     background-repeat: no-repeat;
}


